<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <div #mapElement class="map"></div>
</ion-content>
<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="20" [dockedHeight]="230" [shouldBounce]="true"
  [distanceTop]="0" ><i class="icon ion-arrow-up-b"></i>	
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="request-ride">
        <ion-label>Request Ride</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="offer-ride">
        <ion-label>Offer Ride</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- <div class="drawer-content">

    <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
      <ion-item>
        <ion-label position="floating">Source</ion-label>
        <ion-input formControlName="source"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination</ion-label>
        <ion-input formControlName="destination"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
    </form>
  </div> -->
</ion-bottom-drawer>
