<ion-header>
  <ion-fab class = "menu" slot="start">
    <ion-menu-button  >
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
  </ion-fab>
  <ion-fab class= "notification" vertical="top" horizontal="end" slot="fixed">
    
      <ion-icon color="primary" name="notifications"></ion-icon>
    
  </ion-fab>
</ion-header>


<ion-content>
  
  

  <div #mapElement class="map"></div>
</ion-content>
<ion-bottom-drawer [(state)]="drawerState" [minimumHeight]="20" [dockedHeight]="230" [shouldBounce]="true"
  [distanceTop]="0" ><i class="icon ion-arrow-up-b"></i>	
  
  <div class="drawer-content">

    <div id="content">
      <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button (click) = scrollUpEvent() tab="request-ride">
            <ion-label>
              <ion-icon name="arrow-up"></ion-icon>
              Request Ride</ion-label>
          </ion-tab-button>
          <ion-tab-button (click) = scrollUpEvent() tab="offer-ride">
            <ion-label>Offer Ride</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
  </div>
  <!-- <div class="drawer-content">

    <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
      <ion-item>
        <ion-label position="floating">Source</ion-label>
        <ion-input formControlName="source"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Destination</ion-label>
        <ion-input formControlName="destination"></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
    </form>
  </div> -->
</ion-bottom-drawer>
