<!-- <ion-content>
    <form (ngSubmit)="goToDashboard()">
        <ion-item>
          <ion-label position="floating">Source</ion-label>
          <ion-input [(ngModel)]="userInput.source" name = "source"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Destination</ion-label>
          <ion-input [(ngModel)]= "userInput.destination" name = 'destination'></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Get Direction</ion-button>
      </form>
</ion-content> -->
<ion-content>
  <!-- <h1>offer-ride</h1> -->
<form (ngSubmit)="goToDashboard()">

  <ion-item margin>
    <!-- <ion-label position="floating">Source</ion-label> -->
    <ion-input [(ngModel)]="userInput.source" name = "source" placeholder="Where from?"></ion-input>
  </ion-item>
  <ion-item margin>
    <!-- <ion-label position="floating">Destination</ion-label> -->
    <ion-input  [(ngModel)]= "userInput.destination" name = 'destination' placeholder="Where to?"></ion-input>
  </ion-item >
  <ion-item margin lines="none">
    <ion-label>Select date & time</ion-label >
  </ion-item >
  <ion-item margin lines="none">
    <ion-datetime display-format="DD MMM YYYY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  <ion-item margin lines="none">
    <ion-datetime display-format="hh:mm A" placeholder="Select Time"></ion-datetime>
  </ion-item>
  <ion-item margin lines="none">
    <ion-label>Select Number of seats you want</ion-label >
  </ion-item>
  <ion-radio-group>
    <ion-item margin lines="none">
      <ion-label>1</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item margin lines="none">
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label>2</ion-label>
    </ion-item>
  </ion-radio-group>
  
  <ion-button expand="full" type="submit" >Offer Ride</ion-button>

</form>
</ion-content>
